@import '../../../styles/_var.scss';

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: $headerFont;
    font-size: 0.8em;
    background-color: var(--theme-color);
    box-shadow: 0px -1px 3px var(--theme-color);

}
