@import 'node_modules/nord/src/sass/nord.scss';

$headerFont: 'Oswald', Arial, sans-serif;
$bodyFont: 'Open Sans', Helvetica, sans-serif;

//colors
$frost-color: $nord10;
$aurora-color: $nord11;
$white: #fff;
$gray: #696969;
$lightgray: #cfcfcf;
$body-bg: #fafafa;

$bodyMarginTop: 55px;
