//font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'node_modules/nord/src/sass/nord.scss';

//colors
$frost-color: $nord10;
$aurora-color: $nord11;
$white: #fff;
$body-bg: #fafafa;

$bodyMarginTop: 55px;
