/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/normalize.css/normalize.css';

@import '_var.scss';

body {
    font-family: Roboto;
    margin-top: $bodyMarginTop;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $theme-color;
}
