<header>
    <nav>
        <ul>
            <li class="app-logo">
                <a routerLink="/">
                    NGHN
                </a>
            </li>
            <li class="nav-link">
                <a routerLink="/comments" >Comments</a>
            </li>
            <li class="nav-link">
                <a routerLink="/show" >Show</a>
            </li>
            <li class="nav-link">
                <a routerLink="/ask" >Ask</a>
            </li>
            <li class="nav-link">
                <a routerLink="/jobs" >Jobs</a>
            </li>
            <li class="nav-link">
                <a routerLink="/about" >About</a>
            </li>
        </ul>
    </nav>
</header>
