<header>
    <nav>
        <ul>
            <li class="app-logo">
                <a routerLink="/">
                    NGHN
                </a>
            </li>
            <li class="nav-link">
                <a routerLink="/news" [queryParams]="{page: 1}" >News</a>
            </li>
            <li class="nav-link">
                <a routerLink="/show" [queryParams]="{page: 1}">Show</a>
            </li>
            <li class="nav-link theme-selector">
                Theme:&nbsp;
                <ng-container *ngFor="let theme of themes" >
                    <input class="theme-option" [value]="theme.className" (change)="changeTheme($event.target.value)" type="radio" name="hntheme">{{theme.name}}
                </ng-container>

            </li>
            <li class="nav-link">
                <a routerLink="/about" >About</a>
            </li>
        </ul>
    </nav>
</header>
