<header>
    <nav>
        <ul>
            <li class="app-logo">
                <a routerLink="/">
                    NGHN
                </a>
            </li>
            <li class="nav-link">
                <a routerLink="/news" [queryParams]="{page: 1}" >News</a>
            </li>
            <li class="nav-link">
                <a routerLink="/show" [queryParams]="{page: 1}">Show</a>
            </li>
            <li class="nav-link theme-selector">
                Theme:&nbsp;
                <select (change)="changeTheme($event.target.value)">
                    <option *ngFor="let theme of themes" [value]="theme.className" [selected]="currentTheme === theme.className">{{theme.name}}</option>
                </select>
            </li>
            <li class="nav-link">
                <a routerLink="/about" >About</a>
            </li>
        </ul>
    </nav>
</header>
