@import '../../../styles/_var.scss';

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 3px var(--theme-color);
    font-family: $headerFont;
    font-size: 0.8em;
    background-color: var(--theme-color);

    nav {
        height: 100%;
        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            padding: 0 5px;
            margin: 0;
            list-style: none;

            .app-logo {
                font-size: 1.6rem;
                font-weight: 500;
                padding: 0 8px;
            }

            .nav-link {
                display: flex;
                padding: 0 5px;
                line-height: 50px;

                &.theme-selector {
                    color: $white;
                    line-height: 12px;
                    flex-grow: 1;
                    justify-content: flex-end;
                    padding-right: 20px;

                    & .theme-option {
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }

                &:last-child {
                    justify-content: flex-end;
                }
            }
        }
    }
}
