<div class='news-item'>
    <div class='news-item-link'>
        <a [href]='item.url'>{{item.title}}</a>
    </div>
    <div class='news-item-meta'>
        <button>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{item.points}}</button>
        <span *ngIf="item.domain" >from
            <a class='link-accent' [href]='item.domain'>{{item.domain}}</a>
        </span> |
        <span  *ngIf="item.user">
            <a href='#'>by {{item.user}}</a>
        </span> |

        <span>{{item.time_ago}}</span> |
        <span>
            <a href='#'>{{item.comments_count}} comments</a>
        </span>
    </div>
</div>
